.container__services {
  position: relative;
  display: flex;
  gap: 30px;
  padding-left: 165px;
  padding-right: 20px;
  width: 1275px;
  height: 291px;
  margin-top: 160px;
  margin-bottom: 200px;
  .services-line{
    position: absolute;
    top: 48px;
    left: 0;
    width: 974px;
    z-index: -1;
  }
  .container__services-section {
    img {
      width: 96px;
      height: 96px;
    }
    h4 {
      font-family: "Space Mono";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: -1.07143px;
      color: #495567;
    }
    p {
      font-family: "Lexend Deca";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 25px;
      color: #939caa;
    }
  }
}

@media only screen and (max-width:768px) {
  .container__services{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 97px;
    padding-right: 80px;
    .services-line{
      transform: rotate(90deg);
      top: 0;
      left: -345px;
    }
    .container__services-section{
      display: flex;
      gap: 79px;
    }
  }
}


@media only screen and (max-width:376px) {
  .container__services{
    width: 100%;
    margin-top: 120px;
    padding: 0;
    padding-left: 32px;
    padding-right: 32px;
    text-align: center;
    .services-line{
      display: none;
    }
    .container__services-section{
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }
}
